<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/crowdfunding.css">
    <link rel="stylesheet" href="/Style/universalStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title dir="rtl">جمبك | الحملات التمويلية</title>
    <link rel="icon" type="image/x-icon" href="./Logo/logo.ico" dir="rtl">
</head>
<body>

<header>
    <div class="header-content">
        <div class="logo">
            <h1 dir="rtl">جمبك</h1>
            <img src="./Logo/logo.svg" alt="LOGO" />
        </div>
    </div>
</header>

<nav>
    <a href="crowdfunding" class="active"> حملات التمويل<i class="fas fa-coins"></i></a>
    <a href="announcements"> الإعلانات<i class="fas fa-bullhorn"></i></a>
    <a href="donation"> التبرعات<i class="fas fa-gift"></i></a>
    <a href="request"> الطلبات<i class="fas fa-hand-holding-heart"></i></a>
    <a href="account"> حسابي<i class="fas fa-user"></i></a>
    <a href="index">الرئيسية <i class="fas fa-home"></i></a>
</nav>

<section>
    <h2 class="section-title" dir="rtl">الحمـلات التمـويـليـة</h2>
</section>

<section class="features">
    <div class="feature-grid">
        <div class="feature-card">
            <i class="fas fa-coins"></i>
            <p dir="rtl">شوف الحملات التمويلية وادعم بالبتقدر عليه.</p>
            <div class="button-container">
                <a href="browse_funding">عرض الحملات</a>
            </div>
        </div>
        <div class="feature-card">
            <i class="fas fa-money-bill-alt"></i>
            <p dir="rtl">اعمل حملة تمويلية عشان تلاقي ناس تدعمك.</p>
            <div class="button-container">
                <a href="start_funding">اعمل حملة</a>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('cont').onsubmit = function(e) {
        e.preventDefault();
    }
</script>

<footer>
    <div class="footer-content">


        <div class="footer-section">
            <h4 dir="rtl">اتواصل معانا</h4>
            <a dir="rtl" href="mailto:jmbk@gmail.com">jmbk@gmail.com</a>
            <p>+249967587669</p>
        </div>

        <div class="footer-section">
            <h4 dir="rtl">الصفحات</h4>
            <a dir="rtl" href="./donation">التبرعات</a>
            <a dir="rtl" href="./request">الطلبات</a>
            <a dir="rtl" href="./announcements">الإعلانات</a>
            <a dir="rtl" href="./crowdfunding">الحملات التمويلية</a>
        </div>

        <div class="footer-section">
            <h4 dir="rtl">نحنا منو؟</h4>
            <p dir="rtl">"جمبك" خدمة اتعملت عشان توصل المتبرعين بالناس المحتاجة, وعشان نساعد اي زول يوصل للحاجة الهو عايزها.</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p dir="rtl">&copy; ٢٠٢٤ جمبك. جميع الحقوق محفوظة</p>
    </div>
</footer>

</body>
</html>
