<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/donation-category.css">
    <link rel="stylesheet" href="/Style/universalStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title dir="rtl">جمبك | التبرعات</title>
    <link rel="icon" type="image/x-icon" href="./Logo/logo.ico" dir="rtl">
</head>
<body>

<header>
    <div class="header-content">
        <div class="logo">
            <h1 dir="rtl">جمبك</h1>
            <img src="./Logo/logo.svg" alt="LOGO" />
        </div>
    </div>
</header>

<nav>
    <a href="crowdfunding"> حملات التمويل<i class="fas fa-coins"></i></a>
    <a href="announcements"> الإعلانات<i class="fas fa-bullhorn"></i></a>
    <a href="donation" class="active"> التبرعات<i class="fas fa-gift"></i></a>
    <a href="request"> الطلبات<i class="fas fa-hand-holding-heart"></i></a>
    <a href="account"> حسابي<i class="fas fa-user"></i></a>
    <a href="index">الرئيسية <i class="fas fa-home"></i></a>
</nav>

<div id="categoryView" class="requests-grid active-view">
    <h2 class="section-title">اختار فئة التبرعات</h2>
    <div class="cards" id="cat_cards">
        <div class="request-card" onclick="showItems('Housing')">
            <div class="card-icon">&#127969;</div>
            <h3 class="card-title">سكن</h3>
        </div>
        <div class="request-card" onclick="showItems('Food')">
            <div class="card-icon">&#127828;</div>
            <h3 class="card-title">طعام</h3>
        </div>
        <div class="request-card" onclick="showItems('Clothing')">
            <div class="card-icon">&#128085;</div>
            <h3 class="card-title">ملابس</h3>
        </div>
        <div class="request-card" onclick="showItems('Medicine')">
            <div class="card-icon">&#128138;</div>
            <h3 class="card-title">علاج</h3>
        </div>
        <div class="request-card" onclick="showItems('Jobs')">
            <div class="card-icon">&#128188;</div>
            <h3 class="card-title">وظيفة</h3>
        </div>
        <div class="request-card" onclick="showItems('Others')">
            <div class="card-icon">&#128221;</div>
            <h3 class="card-title">اّخر</h3>
        </div>
    </div>
</div>

<div id="itemsView" class="requests-grid">
    <button class="back-button" onclick="showCategories()">الرجوع لاختيار الفئات</button>
    <h2 class="section-title" id="categoryTitle">Category Items</h2>
    <p id="notFound" style="display: none">لا توجد تبرعات لهذه الفئة...</p>
    <div class="items-grid" id="itemsGrid"></div>
</div>

<div id="itemDetailView" class="container">
    <button class="back-button" onclick="showItems(currentCategory)">الرجوع</button>
    <div class="item-detail" id="itemDetail"></div>
</div>

<footer>
    <div class="footer-content">


        <div class="footer-section">
            <h4 dir="rtl">اتواصل معانا</h4>
            <a dir="rtl" href="mailto:jmbk@gmail.com">jmbk@gmail.com</a>
            <p>+249967587669</p>
        </div>

        <div class="footer-section">
            <h4 dir="rtl">الصفحات</h4>
            <a dir="rtl" href="./donation">التبرعات</a>
            <a dir="rtl" href="./request">الطلبات</a>
            <a dir="rtl" href="./announcements">الإعلانات</a>
            <a dir="rtl" href="./crowdfunding">الحملات التمويلية</a>
        </div>

        <div class="footer-section">
            <h4 dir="rtl">نحنا منو؟</h4>
            <p dir="rtl">"جمبك" خدمة اتعملت عشان توصل المتبرعين بالناس المحتاجة, وعشان نساعد اي زول يوصل للحاجة الهو عايزها.</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p dir="rtl">&copy; ٢٠٢٤ جمبك. جميع الحقوق محفوظة</p>
    </div>
</footer>

<script src="./js/donation-category.js"></script>

</body>
</html>
