<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Join our volunteer platform to make a difference in your community through coordinated aid and support">
    <link rel="stylesheet" href="/Style/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet">

    <title dir="rtl">جمبك | الرئيسية</title>
    <link rel="icon" type="image/x-icon" href="./Logo/logo.ico" dir="rtl">
</head>
<body>
<div class="container">
    <header>
        <div class="header-content">
            <div class="logo">
                <h1 dir="rtl">جمبك</h1>
                <img src="./Logo/logo.svg" alt="LOGO" />
            </div>
        </div>
    </header>

    <nav>
        <a href="crowdfunding"> حملات التمويل<i class="fas fa-coins"></i></a>
        <a href="announcements"> الإعلانات<i class="fas fa-bullhorn"></i></a>
        <a href="donation"> التبرعات<i class="fas fa-gift"></i></a>
        <a href="request"> الطلبات<i class="fas fa-hand-holding-heart"></i></a>
        <a href="account"> حسابي<i class="fas fa-user"></i></a>
        <a href="index" class="active">الرئيسية <i class="fas fa-home"></i></a>
    </nav>

    <main>
        <section class="hero">
            <h2 dir="rtl">محتاج حاجة؟ نحنا جمبك</h2>
            <p dir="rtl" style="font-family: 'Amiri', serif;">اتبرع بحاجة, اطلب حاجة او حتى فتش ناس يدقو معاك الشير!</p>
            <div class="cta-buttons">
                <button class="primary-btn" onclick="window.location.href=`./donation`">عايز اتبرع</button>
                <button class="secondary-btn" onclick="window.location.href=`./request`">عايز اطلب حاجة</button>
            </div>
        </section>

        <section class="features">
            <div class="feature-grid">
                <div class="feature-card">
                    <i class="fas fa-coins"></i>
                    <h3 dir="rtl">حملات التمويل</h3>
                    <p dir="rtl">عندك حالة انسانية بس قروشك قطعت؟ بتقدر تعمل حملة تمويل بكل سهولة وتستلم القروش من المتبرعين عن طريق بنكك</p>
                </div>
                <div class="feature-card">
                    <i class="fas fa-gift"></i>
                    <h3 dir="rtl">التبرعات</h3>
                    <p dir="rtl">عندك حاجة عايز تتبرع بيها؟ ضيفها في الموقع والزول المحتاجها حيتواصل معاك</p>
                </div>
                <div class="feature-card">
                    <i class="fas fa-hand-holding-heart"></i>
                    <h3 dir="rtl">الطلبات</h3>
                    <p dir="rtl">محتاج حاجة على السريع؟ ممكن تطلبها بكل سهولة</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">


            <div class="footer-section">
                <h4 dir="rtl">اتواصل معانا</h4>
                <a dir="rtl" href="mailto:jmbk@gmail.com">jmbk@gmail.com</a>
                <p>+249967587669</p>
            </div>

            <div class="footer-section">
                <h4 dir="rtl">الصفحات</h4>
                <a dir="rtl" href="./donation">التبرعات</a>
                <a dir="rtl" href="./request">الطلبات</a>
                <a dir="rtl" href="./announcements">الإعلانات</a>
                <a dir="rtl" href="./crowdfunding">الحملات التمويلية</a>
            </div>

            <div class="footer-section">
                <h4 dir="rtl">نحنا منو؟</h4>
                <p dir="rtl">"جمبك" خدمة اتعملت عشان توصل المتبرعين بالناس المحتاجة, وعشان نساعد اي زول يوصل للحاجة الهو عايزها.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p dir="rtl">&copy; ٢٠٢٤ جمبك. جميع الحقوق محفوظة</p>
        </div>
    </footer>
</div>
</body>
</html>